<!-- View for showing all `Post` -->
<h1>Career Plug</h1>
<i class="fas fa-plug fa-7x"></i>


<%= link_to 'New Post', new_post_path %>


<div class="search_posts">
  <%= form_tag(root_path, method: :get) do %>
    <%= text_field_tag :term, params[:term], placeholder: "Search Posts" %>
    <%= submit_tag 'Search', name: nil %>
  <% end %>
</div>

<% @posts.each do |post| %>
<div class="post-card" id="post-card-<%= post.id %>"  >
  <%= link_to post.title, post %>
  <%= post.body.truncate(30)%>
  <% if post.comments.any? %>
    <%= link_to "#{post.comments.count} Comments" , post %>
  <% end %>
  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
</div>
<% end %>