<!-- View for showing a single `Post` -->
<h1> <%=@post.title %> </h1>
<p> <%= @post.body %> </p>
<%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Back', posts_path %>

<hr>
<br><br>
<h2>Comments</h2>
  <div id= "comments"> 
  <%# Expands to render partial: 'comments/comment', collection: @post.comments %>
  <%= render @post.comments %>
  </div>

<%= render 'comments/new', post: @post %>